@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
    background: url(static/images/bg.jpg) no-repeat center center fixed;
    background-size: 100% auto;
}

h1 {
    padding: 10px;
    background-color: #896bb3;
    color: #ffffff;
}