<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Airbnb Optimization</title>
</head>
<body>
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eos impedit minus obcaecati quaerat quam qui quo repudiandae sapiente veniam. Cum eius reiciendis rem sit voluptatum? Nihil possimus quisquam tempore!</p>

<img src="http://placehold.it/300x300/5fcf80/ffffff" alt="logo"/>
</body>
</html>